@import '../stylesVar.scss';

.footer {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 -4px 4px lightgray;
    position: relative;

    &__descrip {
        font-family: $ubuntuFont;
        font-weight: 100;
        font-size: 0.5rem;
        margin-left: 1em;
    }
    .social {
        width: 50%;
        position: absolute;
        right: 0;
        top: 1em;
        text-align: center;


        &__list {
            display: inline-flex;
            list-style: none;

        }
        &__icon{
            width: 1em;
            height: 1em;
            margin-right: 1em;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer {
      
        &__descrip {
            font-size: 1.5rem;
        }
        .social {
            top: 2.2em;

            &__list {
                width: 80%;
                justify-content: space-around;
            }
            &__icon{
                width: 2em;
                height: 2em;
                margin: 0;
            }
        }        
    }
}
