@use "sass:math";
@import '../stylesVar.scss';


.header {
    background: url('../../assets/headerBackground.png') no-repeat center;
    background-size: 100% 100%; 
    width: 90%;
    min-height: 10em;
    margin: 0.5em auto;
    text-align: center;
    color: $whiteColor;
    padding: 0.3em;

    &__logo {
        font-size: 1rem;
        margin-top: 2em;
        font-family: $ubuntuFont;
        font-weight: bold;

        &_container {
            text-align: left;
            margin: 0.5em 0.5em;

        }
    }
    &__title {
        font-size: 1.7rem;
        font-family: $ubuntuMonoFont;
        font-weight: bold;

        &_subtitle {
        font-size: 0.7rem;
        margin: 0.5em 4em $marginBottom;
        font-family: $nunitoFont;
        font-weight: 500;
        font-style: italic;
        }
    }
    .searchBar {
        margin-bottom: $marginBottom;

        &__form {
            width: 90%;
            margin: 0 auto;
            position: relative;

            &_btn {
                width: 3em;
                height: 1.5em;
                background-color: $whiteColor;
                border-top-left-radius: 0.5em;
                border-bottom-left-radius: 0.5em;
                position: absolute;
                left: 0.5em;
                border: none;

                &-icon {
                    width: 50%;
                }
            }
            &_input {
                width: 17em;
                height: 2.5em;
                border: none;
                font-size: 0.5em;
                position: absolute;
                left: 5.8em;
                text-align: center;
            }
            &_select {
                width: 7.4em;
                height: 1.5em;
                position: absolute;
                right: 0.5em;
                border: none;
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
            }

        }
    }
    
    
}
