@use "sass:math";
@import '../stylesVar.scss';

.pictures {
    width: 90%;
    margin: 0 auto;

    .searchBar {
        position: absolute;
        top: 15em;
        margin-bottom: $marginBottom;

        &__form {
            margin: 0 auto;

            &_components {
                width: 90%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
            &_btn {
                width: 3em;
                height: 1.5em;
                background-color: $whiteColor;
                border-top-left-radius: 0.5em;
                border-bottom-left-radius: 0.5em;
                border: none;
                cursor: pointer;

                &-icon {
                    width: 50%;
                }
            }
            &_btn:active {
                transform: scale(0.9);
                box-shadow: 2px 0px $whiteColor;
            }
            &_input {
                width: 12em;
                height: 2.5em;
                border: none;
                font-size: 0.5em;
                text-align: center;
            }
            &_select {
                width: 10em;
                height: 1.5em;
                border: none;
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
                font-family: $nunitoFont;
            }

        }
    }

    &__picBox {
        position: relative;
        width: 80%;
        margin: 0 auto $marginBottom;

        .photo {
            width: 100%;
            box-shadow: 3px 3px 3px rgb(169, 169, 169);
            border-radius: 1em;
            margin-bottom: math.div($marginBottom, 2);
        }
        .optionsBar {
            width: 100%;
            position: absolute;
            top: 0.5em;
            display: flex;
            justify-content: end;

        }
        .iconBox {
            width: 1em;
            height: 1em;
            border-radius: 0.5em;
            margin: 0 0.5em;
            background-color: black;
        }
    }
    &__border {
        width: 90%;
        margin: 0 auto;
        border: 1px solid black;
        margin-bottom: $marginBottom;
        padding-top: 1em;
        border-radius: 1em;
    }
    &__favBox {
        width: 95%;
        text-align: center;
        margin: 0 auto;
        position: relative;

        .favphoto {
            max-width: 90%;
            box-shadow: 3px 3px 3px rgb(169, 169, 169);
            border-radius: 1em;
            margin-bottom: math.div($marginBottom, 2);

        }
        .optionsFavBar {
            width: 90%;
            position: absolute;
            top: 0.5em;
            display: flex;
            justify-content: end;

            .favIconBox {
                width: 1em;
                height: 1em;
                border-radius: 0.5em;
                margin: 0 0.5em;
                background-color: black;
            }
        }
        .descriptions {
            width: 90%;
            margin: 0 auto;
            position: relative;
            border: 1px solid black;
            border-radius: 0.5em;
            padding: 0 1em 1em;
            margin-bottom: $marginBottom;

            .edit {
                position: absolute;
                right: 0.5em;
                top: 0.2em;
            }
            &__title {
                margin-bottom: $marginBottom;
                font-family: $nunitoFont;
                font-size: 1.1rem;
            }
            &__boxList {

                &_list {
                    list-style: none;
                    padding: 0;
                    text-align: left;

                    &-item {
                        font-family: $nunitoFont;
                        font-size: 0.7rem;
                        font-weight: 100;

                        span {
                            font-weight: 500;
                            font-style: italic;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .icon {
        width: 1em;
        height: 1em;
    }
}

@media only screen and (min-width: 1000px) {
    .pictures {
        display: flex; 
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        column-gap: 0.5em;

        .searchBar {

            &__form {
    
                &_components {
                    height: 5em;
    
                    .searchBar__form_btn {
                        width: 3.5em;
                        height: 2.5em;
                    }
                    .searchBar__form_input {
                        width: 15em;
                        height: 2.095em;
                        font-size: 1em;
                    }
                    .searchBar__form_select {
                        width: 12em;
                        height: 2.5em;
                        text-align: center;
                    }
                }
            }
        }

        &__border {
            width: 23%;
            height: fit-content;
        }
        &__picBox {
            width: 20%;
            max-height: 16em;
            flex-grow: 1;

            .photo {
                min-width: 100%;
                max-height: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }
            .optionsBar {
                top: 1em;    
            }
            .iconBox {
                width: 2em;
                height: 2em;
                border-radius: 1em;
                margin: 0 1em;
                background-color: black;
            }
        }
        .icon {
            width: 2em;
            height: 2em;
        }
        &__favBox {
    
            .favphoto {
                max-width: 100%;
            }
            .optionsFavBar {
    
                .favIconBox {
                    width: 2em;
                    height: 2em;
                    border-radius: 1em;
                }
            }
            .descriptions {
                width: 98%;
                margin-bottom: $marginBottom * 2;
    
                &__title {
                    font-size: 1.5rem;
                }
                &__boxList {
    
                    &_list {
    
                        &-item {
                            font-size: 1.2rem;
    
                            span {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}